<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2> Admin Login</h2>
        <div class="top-buttons">
        <a href="{{ url_for('renderLoginPage') }}" class="btn">Return Home</a>
        </div>
        <form method="POST">
            <label>Username</label>
            <input type="text" name="username" required>
            <label>Password</label>
            <input type="password" name="password" required>
            {% for error in errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
